@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.content {
  display: grid;
  grid-template-columns: 350px 1fr;
  max-width: 1200px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

@media (max-width: 920px) {
  .content {
    grid-template-columns: 300px 1fr;
  }
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
}
